main(v-if="currentPattern" v-bind:class="{ cool: bg.show.body, uncool:!bg.show.body }" v-bind:style="styleObject")

  article(v-bind:class="{ cool: bg.show.inner, uncool:!bg.show.inner, 'cool-borders': bg.show.borders }" v-bind:style="styleObject")
    .name-holder
      span.label Current Pattern
      .name(v-bind:class="{ cool: bg.show.headline, uncool:!bg.show.headline }" v-text="currentPattern.title" v-bind:style="styleObject")

    .description
      .author-holder(v-if="currentPattern.author")
        span by 
        a(:href="currentPattern.author.url" target="_blank")
          span.author(v-text="currentPattern.author.name")
      .date-holder
        span added 
        time {{formatDate(currentPattern.date)}}
      //-.tags(v-if="currentPattern.tags")
        label Tags:
        span.tag(v-for="tag in currentPattern.tags")
          a(href="#" v-text="tag")

    .ranges
      label(v-if="!bg.cover")
        span.prop Size
        input(type="range" min="5" :max="settings.maxSize" v-model="bg.size")
      label
        span.prop Horizontal
        input(type="range" min="0" max="100" v-model="bg.positionHorizontal")
      label
        span.prop Vertical
        input(type="range" min="0" max="100" v-model="bg.positionVertical")
      label(v-if="bg.show.borders")
        span.prop Border Size
        input(type="range" min="2" max="100" v-model="bg.borders.width")
      label(v-if="bg.show.borders")
        span.prop Border Slice
        input(type="range" min="1" max="40" v-model="bg.borders.slice")

    .toggles
      .option-desc Put that pattern in the...
      .labels
        label(v-bind:class="{active: bg.show.body, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject")
          span.option-name body
          input(type="checkbox" v-model="bg.show.body" ) 
          span.check ✔
        label(v-bind:class="{active: bg.show.headline, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject")
          span.option-name headline
          input(type="checkbox" v-model="bg.show.headline") 
          span.check ✔
        label(v-bind:class="{active: bg.show.button, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject")
          span.option-name buttons
          input(type="checkbox" v-model="bg.show.button") 
          span.check ✔
        label(v-bind:class="{active: bg.show.borders, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject")
          span.option-name borders
          input(type="checkbox" v-model="bg.show.borders") 
          span.check ✔
        label(v-bind:class="{active: bg.show.inner, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject")
          span.option-name article
          input(type="checkbox" v-model="bg.show.inner") 
          span.check ✔

    .code-holder
      pre
        code(v-html="coolCSS")