head
  title BG2 😎 COOL
  link(href="https://fonts.googleapis.com/css?family=Nunito|Oswald:700" rel="stylesheet")
  link(href="css/bg2cool.css" rel="stylesheet")
  meta(name="description" content=description)

  include _favicons.pug
  include _social.pug