.javascripts

  if testing
    script(src="js/libraries/vue.full.js")
  else
    script(src="js/libraries/vue.min.js")

  script(src="js/min/bg2cool.min.js")

  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-15129990-33")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-15129990-33');

  script(src="https://cdn.trackjs.com/agent/v3/latest/t.js")
  script.
    TrackJS.install({
      token: "9947e081831c42b8aeb3a5fb81a152c4",
      application: "bg2cool"
    });
