main.nopattern(v-if="!currentPattern")
  .video-holder
    video(autoplay loop muted)
      source(src="patterns/neon.mp4" type="video/mp4")
  article
    h1 
      span.one THAT'S
      | 
      span.two ENOUGH
      | 
      span.three FUCKING
      | 
      span.four MINIMALISM.
    p
      //-strong Enough with the fucking minimalism.
      //-| It is still legal to make modern websites that are actually fun to look at. And today, you and 
      | I don't know what they told you, but it's actually still legal for modern websites to be fun and interesting to look at.
      |  And today, you and 
      strong BG2.COOL
      |  are going to make one together.
    p 
      | Browse through the patterns 
      span.to-the-right to the right, 
      span.below below, swipe right for more, 
      | play with the options, and make a radical website.
