main.nopattern(v-if="!currentPattern")
  article
    h1 BG2.COOL
    p
      strong Enough with the fucking minimalism.
      |  We have to remind ourselves that websites can look fun, and it's up to 
      i you
      |  to turn this train around.
    p
      | Use the patterns to the right to get started.