

-
  var allPatterns = [

    

    {
      title: "Astroturf Argyle",
      file: "AstroturfArgyle.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-03",
      description: "Have you ever wanted to have a website that's also a golf course that's also an art deco bathroom? Now you can live your dream.",
      seamless: true,
      tags: [ "grass", "diamond", "repeating"]
    },

    {
      title: "90s Kitchen Plaid",
      file: "90sKitchenPlaid.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-05",
      description: "It's the 1990's in Suburban America, and you're in a kitchen. Stare at the walls, and try to look away.",
      seamless: true,
      tags: [ "plaid", "ivy", "kitchen", "wallpaper"]
    },

    {
      title: "Gold Chains On Velvet",
      file: "GoldChainsOnVelvet.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-03",
      description: "The key is to drink coconut, fresh coconut, trust me. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion!",
      seamless: true,
      tags: [ "gold", "chain", "blue", "velvet"]
    },

    {
      title: "Vaporwave Terrazzo",
      file: "VaporwaveTerrazzo.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-03",
      description: "<p>Every day, I get up and pray to John. And he increases the number of clocks by exactly one. Everybody's coming home for lunch these days. Last night there were skinheads on my lawn.</p>**Take the skinheads bowling, take them bowling.**",
      seamless: true,
      tags: [ "blue", "white", "animated", "bowling"]
    },

  ];