

-
  var allPatterns = [

    {
      title: "Astroturf Argyle",
      folder: 'ellen-schofield',
      file: "AstroturfArgyle.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-03",
      seamless: true,
      tags: [ "grass", "diamond", "repeating"]
    },

    {
      title: "90’s Kitchen Plaid",
      folder: 'ellen-schofield',
      file: "90sKitchenPlaid.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-05",
      seamless: true,
      tags: [ "plaid", "ivy", "kitchen", "wallpaper"]
    },

    {
      title: "Gold Chains On Velvet",
      folder: 'ellen-schofield',
      file: "GoldChainsOnVelvet.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-03",
      seamless: true,
      tags: [ "gold", "chain", "blue", "velvet"]
    },

    {
      title: "Vaporwave Terrazzo",
      folder: 'ellen-schofield',
      file: "VaporwaveTerrazzo.gif",
      author: {
        name: "Ellen Schofield",
        url: "https://ellen-schofield"
      },
      date: "2019-07-03",
      seamless: true,
      tags: [ "blue", "white", "animated", "bowling"]
    },

    {
      title: "Crowskull",
      folder: 'casper-spell',
      file: "crowskull.png",
      author: {
        name: "Casper Spell",
        url: "https://casperspell.wordpress.com"
      },
      date: "2019-07-26",
      description: "<p>GHOST!</p>",
      seamless: true,
      tags: [ "goth", "spooky", "purple", "skulls"]
    },

    {
      title: "Bat Forever",
      folder: 'random',
      file: "batforever.jpg",
      date: "2019-07-26",
      seamless: true,
      tags: [ "goth", "wallpaper", "bats", "grey"]
    },

    {
      title: "Skull Cones",
      folder: 'casper-spell',
      file: "skullcone.jpg",
      author: {
        name: "Casper Spell",
        url: "https://casperspell.wordpress.com"
      },
      date: "2019-08-19",
      seamless: true,
      tags: [ "goth", "wallpaper", "skull", "ice cream"]
    },

    {
      title: "Caroline",
      folder: 'random',
      file: "roses.gif",
      date: "2019-08-19",
      seamless: true,
      tags: [ "rose", "animated"]
    },

    {
      title: "Full of Stars",
      folder: 'random',
      file: "stars.gif",
      date: "2019-08-19",
      seamless: true,
      tags: [ "stars", "animated", "black"]
    },

    {
      title: "Square Sprinkles",
      folder: 'random',
      file: "sprinkles.gif",
      date: "2019-08-19",
      seamless: true,
      tags: [ "animated", "pastel"]
    },

    {
      title: "Saved By...",
      folder: 'random',
      file: "thebell.svg",
      date: "2019-08-19",
      seamless: true,
      tags: [ "90s", "bowling"]
    },

    {
      title: "Hex’d",
      folder: 'random',
      file: "1049.png",
      date: "2019-08-20",
      source: {
        name: "Background Tiles",
        url: "https://background-tiles.com"
      },
      seamless: true,
      tags: [ "90s", "bowling"]
    },

    {
      title: "Marco’s Macaroons",
      folder: 'random',
      file: "macaroon.jpg",
      date: "2019-08-20",
      seamless: true,
      tags: [ "90s", "bowling"]
    },
    {
      title: "Gramma’s Shower Curtain",
      folder: 'random',
      file: "gramma-shower-curtain.png",
      date: "2019-08-20",
      seamless: true,
      tags: [ "flowers"]
    },

    {
      title: "WHALES$$",
      folder: 'random',
      file: "whales.png",
      date: "2019-08-20",
      seamless: true,
      tags: [ "flowers"]
    },



  ];