

-
  var allPatterns = [

    {
      title: "Astroturf Argyle",
      folder: 'anonymous',
      file: "AstroturfArgyle.gif",
      date: "2019-07-03",
      seamless: true
    },

    {
      title: "90’s Kitchen Plaid",
      folder: 'anonymous',
      file: "90sKitchenPlaid.gif",
      date: "2019-07-05",
      seamless: true
    },

    {
      title: "Gold Chains On Velvet",
      folder: 'anonymous',
      file: "GoldChainsOnVelvet.gif",
      date: "2019-07-03",
      seamless: true
    },

    {
      title: "Vaporwave Terrazzo",
      folder: 'anonymous',
      file: "VaporwaveTerrazzo.gif",
      date: "2019-07-03",
      seamless: true
    },

    {
      title: "A Denim Quilt",
      folder: 'anonymous',
      file: "denimquilt.gif",
      date: "2019-08-21",
      seamless: true
    },

    {
      title: "Crowskull",
      folder: 'casper-spell',
      file: "crowskull.png",
      author: {
        name: "Casper Spell",
        url: "https://casperspell.wordpress.com"
      },
      date: "2019-07-26",
      description: "<p>GHOST!</p>",
      seamless: true
    },

    {
      title: "Bat Forever",
      folder: 'random',
      file: "batforever.jpg",
      date: "2019-07-26",
      seamless: true
    },

    {
      title: "Skull Cones",
      folder: 'casper-spell',
      file: "skullcone.jpg",
      author: {
        name: "Casper Spell",
        url: "https://casperspell.wordpress.com"
      },
      date: "2019-08-19",
      seamless: true
    },

    {
      title: "Caroline",
      folder: 'random',
      file: "roses.gif",
      date: "2019-08-19",
      seamless: true
    },

    {
      title: "Full of Stars",
      folder: 'random',
      file: "stars.gif",
      date: "2019-08-19",
      seamless: true
    },

    {
      title: "Square Sprinkles",
      folder: 'random',
      file: "sprinkles.gif",
      date: "2019-08-19",
      seamless: true
    },

    {
      title: "Saved By...",
      folder: 'random',
      file: "thebell.svg",
      date: "2019-08-19",
      seamless: true
    },

    {
      title: "Hex’d",
      folder: 'random',
      file: "1049.png",
      date: "2019-08-20",
      source: {
        name: "Background Tiles",
        url: "https://background-tiles.com"
      },
      seamless: true
    },

    {
      title: "Marco’s Macaroons",
      folder: 'random',
      file: "macaroon.jpg",
      date: "2019-08-20",
      seamless: true
    },
    {
      title: "Gramma’s Shower Curtain",
      folder: 'random',
      file: "gramma-shower-curtain.png",
      date: "2019-08-20",
      seamless: true
    },
    {
      title: "Soft Pyjama Pants",
      folder: 'random',
      file: "128-133.jpg",
      date: "2019-08-20",
      seamless: true
    },


    {
      title: "Koi Pond",
      folder: 'random',
      file: "koi-pond.png",
      date: "2019-08-20",
      seamless: true
    },


    {
      title: "Way Too Many Roses",
      folder: 'random',
      file: "too-many-roses.jpg",
      date: "2019-08-20",
      seamless: true
    },
    {
      title: "Ahoy, Lemons?",
      folder: 'random',
      file: "ahoylemons.svg",
      source: {
        name: "Vecteezy",
        url: "https://www.vecteezy.com"
      },
      date: "2019-08-20",
      seamless: true
    },

    {
      title: "Drowning In Bokeh",
      folder: 'random',
      file: "bokeh.jpg",
      date: "2019-08-20",
      seamless: true
    },

    {
      title: "Very Messy Pizza",
      folder: 'getty',
      file: "pizzamess.jpg",
      source: {
        name: "Getty",
        url: "https://www.gettyimages.com"
      },
      date: "2019-09-03",
      seamless: true
    },

    {
      title: "Hit With A Bowling Ball",
      folder: 'pixabay',
      file: "stars.jpg",
      /*
      source: {
        name: "Getty",
        url: "https://www.gettyimages.com"
      },
      */
      date: "2019-09-05",
      seamless: true
    },

  ];