section.patterns
  .pattern-holder
    each pattern,index in allPatterns
      //article.pattern()
      figure.pattern(v-bind:class="{current: activeTitle == '"+pattern.title+"'}" style="background-image:url(patterns/"+pattern.folder+"/"+pattern.file+")" v-on:click="setPattern("+JSON.stringify(pattern)+")")
        .name-holder
          h2.name= pattern.title