<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BG2 😎 COOL</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Nunito|Oswald:700|Vollkorn&amp;display=swap" rel="stylesheet">
    <link href="css/bg2cool.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <main class="nopattern" v-if="!currentPattern">
        <article>
          <h1>BG2.COOL</h1>
          <p><strong>Enough with the fucking minimalism.</strong> We have to reminde ourselves that websites can look fun, and it's up to <i>you</i> to turn this train around.</p>
          <p>Use the patterns to the right to get started.</p>
        </article>
      </main>
      <main v-else-if="currentPattern &amp;&amp; phase != 'about'" v-bind:class="{ cool: bg.show.body, uncool:!bg.show.body }" v-bind:style="styleObject">
        <article v-bind:class="{ cool: bg.show.inner, uncool:!bg.show.inner, 'cool-borders': bg.show.borders }" v-bind:style="styleObject">
          <button class="hamburger" v-on:click="phase = 'about'">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
              <circle class="fill" cx="50.6" cy="49.7" r="42"></circle>
              <path class="outline" d="M50 96C24.6 96 4 75.4 4 50S24.6 4 50 4s46 20.6 46 46-20.6 46-46 46zm0-86.2C27.8 9.8 9.8 27.8 9.8 50s18 40.3 40.2 40.3S90.3 72.2 90.3 50 72.2 9.8 50 9.8z"></path>
              <g class="open" id="HamburgerOpen">
                <path class="question-mark" d="M47.6 58.9c-.6-.7-.9-1.6-.9-2.8 0-2.4.4-4.3 1.3-5.9.9-1.6 2.1-3.3 3.8-5.2 1.2-1.4 2.2-2.6 2.7-3.6.6-.9.9-2 .9-3.2 0-1.3-.5-2.3-1.4-3.1-1-.7-2.3-1.1-3.9-1.1-1.5 0-2.9.3-4.1.9-1.3.6-3 1.5-5.1 2.8-1.3.7-2.4 1.1-3.3 1.1-1 0-1.8-.4-2.5-1.3s-1-1.9-1-3.1c0-.8.1-1.5.5-2.1.3-.6.8-1.1 1.4-1.6 2-1.6 4.4-2.9 7-3.8 2.7-.9 5.3-1.4 8-1.4 2.9 0 5.4.5 7.7 1.5s4.1 2.4 5.3 4.2c1.3 1.8 1.9 3.8 1.9 6 0 1.7-.3 3.3-1 4.7-.7 1.4-1.5 2.6-2.4 3.7-.9 1-2.2 2.3-3.7 3.8-1.8 1.6-3.1 3-4 4.1-.9 1.1-1.4 2.3-1.7 3.6-.2.9-.6 1.6-1.1 2-.6.5-1.3.7-2.1.7-1 .1-1.8-.2-2.3-.9zm-1.7 14.8c-1.1-1.1-1.7-2.6-1.7-4.3 0-1.7.6-3.1 1.7-4.3s2.5-1.7 4.2-1.7c1.7 0 3 .6 4.2 1.7 1.1 1.1 1.7 2.6 1.7 4.3 0 1.7-.6 3.1-1.7 4.3-1.1 1.1-2.5 1.7-4.2 1.7-1.7 0-3.1-.5-4.2-1.7z"></path>
              </g>
              <g class="close" id="HamburgerClose">
                <path class="x" d="M70.3 69c0 1.3-.5 2.4-1.5 3.3-1 .9-2.1 1.4-3.4 1.4-1.3 0-2.4-.6-3.4-1.7L49.6 56.9 37 72.1c-1 1.1-2.1 1.7-3.4 1.7-1.2 0-2.3-.5-3.3-1.4-1-.9-1.5-2.1-1.5-3.3 0-1.1.4-2.1 1.2-3L43.5 50l-13-15.8c-.8-1-1.3-2-1.3-3 0-1.3.5-2.4 1.5-3.3 1-.9 2.1-1.4 3.3-1.4 1.3 0 2.5.6 3.4 1.7l12.1 14.6 12-14.6c1-1.1 2.1-1.7 3.4-1.7 1.2 0 2.3.5 3.3 1.4 1 .9 1.5 2.1 1.5 3.3 0 1.1-.4 2.1-1.2 3l-13 15.6L69 65.9c.9 1 1.3 2 1.3 3.1z"></path>
              </g>
            </svg>
          </button>
          <div class="name-holder"><span class="label">Current Pattern</span>
            <div class="name" v-bind:class="{ cool: bg.show.headline, uncool:!bg.show.headline }" v-bind:style="styleObject"><span v-text="currentPattern.title"></span></div>
          </div>
          <div class="description">
            <div class="author-holder" v-if="currentPattern.author"><span>by </span><a :href="currentPattern.author.url" target="_blank"><span class="author" v-text="currentPattern.author.name"></span></a></div>
            <div class="date-holder"><span>added </span>
              <time>{{formatDate(currentPattern.date)}}</time>
            </div>
          </div>
          <div class="toggles">
            <div class="option-desc">Put that pattern in the...</div>
            <div class="labels">
              <label v-bind:class="{active: bg.show.body, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">body</span>
                <input type="checkbox" v-model="bg.show.body"><span class="check">✔</span>
              </label>
              <label v-bind:class="{active: bg.show.headline, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">headline</span>
                <input type="checkbox" v-model="bg.show.headline"><span class="check">✔</span>
              </label>
              <label v-bind:class="{active: bg.show.button, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">buttons</span>
                <input type="checkbox" v-model="bg.show.button"><span class="check">✔</span>
              </label>
              <label v-bind:class="{active: bg.show.borders, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">borders</span>
                <input type="checkbox" v-model="bg.show.borders"><span class="check">✔</span>
              </label>
              <label v-bind:class="{active: bg.show.inner, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">article</span>
                <input type="checkbox" v-model="bg.show.inner"><span class="check">✔</span>
              </label>
            </div>
          </div>
          <div class="ranges">
            <label v-if="!bg.cover"><span class="prop">Size</span>
              <input type="range" min="5" :max="settings.maxSize" v-model="bg.size">
            </label>
            <label><span class="prop">Horizontal</span>
              <input type="range" min="0" max="100" v-model="bg.positionHorizontal">
            </label>
            <label><span class="prop">Vertical</span>
              <input type="range" min="0" max="100" v-model="bg.positionVertical">
            </label>
            <label v-if="bg.show.borders"><span class="prop">Border Size</span>
              <input type="range" min="2" max="100" v-model="bg.borders.width">
            </label>
            <label v-if="bg.show.borders"><span class="prop">Border Slice</span>
              <input type="range" min="1" max="40" v-model="bg.borders.slice">
            </label>
          </div>
          <div class="code-holder">
            <pre v-if="coolCSS"><code id="CopyCode" v-html="coolCSS"></code></pre>
            <button @click="copyCSS()">Copy CSS</button>
          </div>
          <div class="serve-box" v-if="coolCSS">
            <div class="serve-desc">And serve that file from</div><span>bg2.cool</span>
            <label class="toggle">
              <input type="checkbox">
            </label><span>my website</span>
          </div>
        </article>
      </main>
      <main class="about" v-else-if="phase == 'about'" v-bind:class="{ cool: bg.show.body, uncool:!bg.show.body }" v-bind:style="styleObject">
        <div class="lemon-coversheet"></div>
        <article v-bind:class="{ cool: bg.show.inner, uncool:!bg.show.inner, 'cool-borders': bg.show.borders }" v-bind:style="styleObject">
          <div class="name-holder"><span class="label">This Site By</span>
            <div class="lemon name">Lemon</div>
          </div>
          <p>
             Visit <a href="https://ahoylemon.xyz">ahoylemon.xyz</a> for more dumb websites like this one.</p>
          <p>
             The patterns for this website have been sourced from various places. Do you want to add a pattern to the site? Great! Please <a href="#">use this form</a> to do so. Or if you think we have made a mistake with our patterns, you can <a href="#">use this form</a>. Finally, if you're using one of these patterns, <a href="#">let us know.</a></p>
        </article>
      </main>
      <section class="patterns">
        <div class="pattern-holder">
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Astroturf Argyle'}" style="background-image:url(patterns/ellen-schofield/AstroturfArgyle.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;Astroturf Argyle&quot;,&quot;folder&quot;:&quot;ellen-schofield&quot;,&quot;file&quot;:&quot;AstroturfArgyle.gif&quot;,&quot;author&quot;:{&quot;name&quot;:&quot;Ellen Schofield&quot;,&quot;url&quot;:&quot;https://ellenschofield.com&quot;},&quot;date&quot;:&quot;2019-07-03&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;grass&quot;,&quot;diamond&quot;,&quot;repeating&quot;]})">
            <div class="name-holder">
              <h2 class="name">Astroturf Argyle</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == '90’s Kitchen Plaid'}" style="background-image:url(patterns/ellen-schofield/90sKitchenPlaid.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;90’s Kitchen Plaid&quot;,&quot;folder&quot;:&quot;ellen-schofield&quot;,&quot;file&quot;:&quot;90sKitchenPlaid.gif&quot;,&quot;author&quot;:{&quot;name&quot;:&quot;Ellen Schofield&quot;,&quot;url&quot;:&quot;https://ellenschofield.com&quot;},&quot;date&quot;:&quot;2019-07-05&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;plaid&quot;,&quot;ivy&quot;,&quot;kitchen&quot;,&quot;wallpaper&quot;]})">
            <div class="name-holder">
              <h2 class="name">90’s Kitchen Plaid</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Gold Chains On Velvet'}" style="background-image:url(patterns/ellen-schofield/GoldChainsOnVelvet.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;Gold Chains On Velvet&quot;,&quot;folder&quot;:&quot;ellen-schofield&quot;,&quot;file&quot;:&quot;GoldChainsOnVelvet.gif&quot;,&quot;author&quot;:{&quot;name&quot;:&quot;Ellen Schofield&quot;,&quot;url&quot;:&quot;https://ellenschofield.com&quot;},&quot;date&quot;:&quot;2019-07-03&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;gold&quot;,&quot;chain&quot;,&quot;blue&quot;,&quot;velvet&quot;]})">
            <div class="name-holder">
              <h2 class="name">Gold Chains On Velvet</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Vaporwave Terrazzo'}" style="background-image:url(patterns/ellen-schofield/VaporwaveTerrazzo.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;Vaporwave Terrazzo&quot;,&quot;folder&quot;:&quot;ellen-schofield&quot;,&quot;file&quot;:&quot;VaporwaveTerrazzo.gif&quot;,&quot;author&quot;:{&quot;name&quot;:&quot;Ellen Schofield&quot;,&quot;url&quot;:&quot;https://ellenschofield.com&quot;},&quot;date&quot;:&quot;2019-07-03&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;blue&quot;,&quot;white&quot;,&quot;animated&quot;,&quot;bowling&quot;]})">
            <div class="name-holder">
              <h2 class="name">Vaporwave Terrazzo</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'A Denim Quilt'}" style="background-image:url(patterns/ellen-schofield/denimquilt.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;A Denim Quilt&quot;,&quot;folder&quot;:&quot;ellen-schofield&quot;,&quot;file&quot;:&quot;denimquilt.gif&quot;,&quot;author&quot;:{&quot;name&quot;:&quot;Ellen Schofield&quot;,&quot;url&quot;:&quot;https://ellenschofield.com&quot;},&quot;date&quot;:&quot;2019-08-21&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;blue&quot;,&quot;white&quot;,&quot;animated&quot;,&quot;bowling&quot;]})">
            <div class="name-holder">
              <h2 class="name">A Denim Quilt</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Crowskull'}" style="background-image:url(patterns/casper-spell/crowskull.png)" v-on:click="setPattern({&quot;title&quot;:&quot;Crowskull&quot;,&quot;folder&quot;:&quot;casper-spell&quot;,&quot;file&quot;:&quot;crowskull.png&quot;,&quot;author&quot;:{&quot;name&quot;:&quot;Casper Spell&quot;,&quot;url&quot;:&quot;https://casperspell.wordpress.com&quot;},&quot;date&quot;:&quot;2019-07-26&quot;,&quot;description&quot;:&quot;&lt;p&gt;GHOST!&lt;/p&gt;&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;goth&quot;,&quot;spooky&quot;,&quot;purple&quot;,&quot;skulls&quot;]})">
            <div class="name-holder">
              <h2 class="name">Crowskull</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Bat Forever'}" style="background-image:url(patterns/random/batforever.jpg)" v-on:click="setPattern({&quot;title&quot;:&quot;Bat Forever&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;batforever.jpg&quot;,&quot;date&quot;:&quot;2019-07-26&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;goth&quot;,&quot;wallpaper&quot;,&quot;bats&quot;,&quot;grey&quot;]})">
            <div class="name-holder">
              <h2 class="name">Bat Forever</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Skull Cones'}" style="background-image:url(patterns/casper-spell/skullcone.jpg)" v-on:click="setPattern({&quot;title&quot;:&quot;Skull Cones&quot;,&quot;folder&quot;:&quot;casper-spell&quot;,&quot;file&quot;:&quot;skullcone.jpg&quot;,&quot;author&quot;:{&quot;name&quot;:&quot;Casper Spell&quot;,&quot;url&quot;:&quot;https://casperspell.wordpress.com&quot;},&quot;date&quot;:&quot;2019-08-19&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;goth&quot;,&quot;wallpaper&quot;,&quot;skull&quot;,&quot;ice cream&quot;]})">
            <div class="name-holder">
              <h2 class="name">Skull Cones</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Caroline'}" style="background-image:url(patterns/random/roses.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;Caroline&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;roses.gif&quot;,&quot;date&quot;:&quot;2019-08-19&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;rose&quot;,&quot;animated&quot;]})">
            <div class="name-holder">
              <h2 class="name">Caroline</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Full of Stars'}" style="background-image:url(patterns/random/stars.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;Full of Stars&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;stars.gif&quot;,&quot;date&quot;:&quot;2019-08-19&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;stars&quot;,&quot;animated&quot;,&quot;black&quot;]})">
            <div class="name-holder">
              <h2 class="name">Full of Stars</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Square Sprinkles'}" style="background-image:url(patterns/random/sprinkles.gif)" v-on:click="setPattern({&quot;title&quot;:&quot;Square Sprinkles&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;sprinkles.gif&quot;,&quot;date&quot;:&quot;2019-08-19&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;animated&quot;,&quot;pastel&quot;]})">
            <div class="name-holder">
              <h2 class="name">Square Sprinkles</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Saved By...'}" style="background-image:url(patterns/random/thebell.svg)" v-on:click="setPattern({&quot;title&quot;:&quot;Saved By...&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;thebell.svg&quot;,&quot;date&quot;:&quot;2019-08-19&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;90s&quot;,&quot;bowling&quot;]})">
            <div class="name-holder">
              <h2 class="name">Saved By...</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Hex’d'}" style="background-image:url(patterns/random/1049.png)" v-on:click="setPattern({&quot;title&quot;:&quot;Hex’d&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;1049.png&quot;,&quot;date&quot;:&quot;2019-08-20&quot;,&quot;source&quot;:{&quot;name&quot;:&quot;Background Tiles&quot;,&quot;url&quot;:&quot;https://background-tiles.com&quot;},&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;90s&quot;,&quot;bowling&quot;]})">
            <div class="name-holder">
              <h2 class="name">Hex’d</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Marco’s Macaroons'}" style="background-image:url(patterns/random/macaroon.jpg)" v-on:click="setPattern({&quot;title&quot;:&quot;Marco’s Macaroons&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;macaroon.jpg&quot;,&quot;date&quot;:&quot;2019-08-20&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;90s&quot;,&quot;bowling&quot;]})">
            <div class="name-holder">
              <h2 class="name">Marco’s Macaroons</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Gramma’s Shower Curtain'}" style="background-image:url(patterns/random/gramma-shower-curtain.png)" v-on:click="setPattern({&quot;title&quot;:&quot;Gramma’s Shower Curtain&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;gramma-shower-curtain.png&quot;,&quot;date&quot;:&quot;2019-08-20&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;flowers&quot;]})">
            <div class="name-holder">
              <h2 class="name">Gramma’s Shower Curtain</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Soft Pyjama Pants'}" style="background-image:url(patterns/random/128-133.jpg)" v-on:click="setPattern({&quot;title&quot;:&quot;Soft Pyjama Pants&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;128-133.jpg&quot;,&quot;date&quot;:&quot;2019-08-20&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;flowers&quot;]})">
            <div class="name-holder">
              <h2 class="name">Soft Pyjama Pants</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Koi Pond'}" style="background-image:url(patterns/random/koi-pond.png)" v-on:click="setPattern({&quot;title&quot;:&quot;Koi Pond&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;koi-pond.png&quot;,&quot;date&quot;:&quot;2019-08-20&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;fish&quot;]})">
            <div class="name-holder">
              <h2 class="name">Koi Pond</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Way Too Many Roses'}" style="background-image:url(patterns/random/too-many-roses.jpg)" v-on:click="setPattern({&quot;title&quot;:&quot;Way Too Many Roses&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;too-many-roses.jpg&quot;,&quot;date&quot;:&quot;2019-08-20&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;flowers&quot;]})">
            <div class="name-holder">
              <h2 class="name">Way Too Many Roses</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Ahoy, Lemons?'}" style="background-image:url(patterns/random/ahoylemons.svg)" v-on:click="setPattern({&quot;title&quot;:&quot;Ahoy, Lemons?&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;ahoylemons.svg&quot;,&quot;source&quot;:{&quot;name&quot;:&quot;Vecteezy&quot;,&quot;url&quot;:&quot;https://www.vecteezy.com&quot;},&quot;date&quot;:&quot;2019-08-20&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;flowers&quot;]})">
            <div class="name-holder">
              <h2 class="name">Ahoy, Lemons?</h2>
            </div>
          </figure>
          <!--article.pattern()-->
          <figure class="pattern" v-bind:class="{current: activeTitle == 'Drowning In Bokeh'}" style="background-image:url(patterns/random/bokeh.jpg)" v-on:click="setPattern({&quot;title&quot;:&quot;Drowning In Bokeh&quot;,&quot;folder&quot;:&quot;random&quot;,&quot;file&quot;:&quot;bokeh.jpg&quot;,&quot;date&quot;:&quot;2019-08-20&quot;,&quot;seamless&quot;:true,&quot;tags&quot;:[&quot;flowers&quot;]})">
            <div class="name-holder">
              <h2 class="name">Drowning In Bokeh</h2>
            </div>
          </figure>
        </div>
      </section>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script src="js/min/bg2cool.min.js"></script>
    </div>
  </body>
</html>