body { padding:0; }
main { @include position(fixed,0,($boxSize * 2), 0, 0); font-family: 'Nunito', sans-serif; font-size:18px; background-position: center; box-shadow: inset -0.5em 0 0.5em rgba(0,0,0,.7);

  overflow-y: auto;

  article { background:white; margin:3em auto; width:100%; max-width: 666px; /* padding:2em; */ border:2px solid rgba(0,0,0,0.15); box-shadow: 1em 1em 1em rgba(0,0,0,.5);
    box-sizing: content-box; max-width: 580px; padding:2em;
  }

  
  /*
  label { display: block;
    > span { display: block; }
  }
  */

  article { display: grid; grid-gap: 20px;
    //.name-holder { grid-column: span 2; }
  }

  .name-holder {
    .label { text-transform: uppercase; letter-spacing: 0.1em; }
  }



  // Pattern Text Description
  .description {
    .author-holder { display: block;
      .author { font-weight: bold; }
    }

    .tags {margin-top:1em; margin-bottom: 0.5em;
      label { font-weight: bold; display:block; }
      .tag { display: inline; margin-bottom:5px;
        &:after { content: ', '}
        &:last-child:after { content: ''; }
      }
    }
  }

  // Range Options

  .ranges { display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 20px;
    label {
      .prop { text-transform: lowercase; }
      input { width:100%; }
    }
  }

  .toggles {
    .labels {  }

    /*
    label { background:#313131; color:white; padding:1em 2em; position: relative; display: inline-block; cursor: pointer; margin-right: 0.5em;
      input[type="checkbox"] { position: absolute; opacity: 0; }
      .check { position: absolute; top:20%; right: 0px; transform: scale(0.2); opacity: 0; transition:transform 1s ease; text-shadow: none; font-size:140%; }

      &.active { 
        .check { transform: scale(1); opacity: 1; }
      }

      &:hover { background:rgb(40,40,90); }
    }
    */

    label {
      cursor: pointer;
      display:inline-block;
      padding:1em 2em 1em 1em;
			position: relative;
      //border-radius: 2px;
      margin-right: -4px;
      input[type="checkbox"] { position: absolute; opacity: 0; }
      .check { position: absolute; top:4px; right: 6px;transition:all 0.3s ease; text-shadow: none; font-size:180%; color:#e9e6e4;
        //filter: drop-shadow(1px 1px 0 crimson);
        text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white
      }
      &.active { 
        .check { color:#83d244; }
      }
    }
  }

  .code-holder { overflow: hidden; position: relative;
    pre { background:#111; color:#eee; padding:1em; overflow-x: auto; max-width: 100%; }

    button { @include position(absolute,6px,6px); cursor: pointer;
      background-image: linear-gradient(top, #f4f1ee, #fff); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
      &:hover, &:focus { background-image: linear-gradient(top, #74dccf, #c2f3ed); }
      &:active { box-shadow: 0px -2px -4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5); box-shadow: 0px -2px -4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5); }
    }
  }


  // COOL TRANSITIONS
  transition:background-image 1s ease;
  article { transition:background-image 1s ease; }
  //.name {  }

  // COOL STYLES
  article.cool { color:white; text-shadow: -0.05em -0.05em 0.1em black, 0.05em 0.05em 0.1em black;
    .name.uncool { color: white !important; }
    a{ color: yellow; }
    label.uncool { color:black; text-shadow: none; }
  }

  article.cool-borders { border-width: 20px; border-image-slice: 10%; border-image-repeat: round; box-sizing: content-box;
    box-shadow: inset 0 0 0.5em rgba(0,0,0,0.65), 1em 1em 1em rgba(0,0,0,0.5); 
  }

  .name.cool { background-attachment: fixed; color: white; background-clip: text; -webkit-text-fill-color: transparent; font-family: 'Oswald', sans-serif; font-weight: 900; font-size:100px; line-height: 100%; text-transform: uppercase; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black; text-shadow: none !important; }
  label.cool { transition:background-size 0.5s ease; color:white !important; text-shadow: -0.1em -0.1em 0.1em black, 0.1em 0.1em 0.1em black;
    &:hover, &:focus { background-size:120% !important; }
    .check { opacity:0.25; }
    &.active .check { color:white; opacity: 1; }
  }

  // UNCOOL STYLES
  &.uncool { background:#333 !important; }
  article.uncool { background:white !important;  } 
  .name.uncool { font-size:32px; color:black; text-transform: none; background:transparent !important; }
  label.uncool { background-image: linear-gradient(top, #f4f1ee, #fff) !important; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5); }
}