$eczar: 'Eczar', serif;
$crimson: 'Crimson Text', serif;
$poppins: 'Poppins', sans-serif;
$headline: $crimson;
$font: $poppins;
$bold: 700;


$z-background: 2;
$z-hill: 3;
$z-rock: 4;
$z-shine: 5;
$z-sisyphus: 5;
$z-foreground: 6;
$z-figcaption: 7;
$z-pillar: 8;

$z-aside-mobile: 11;
$z-drawer-toggle: 15;


@font-face {
  font-family: 'grobold';
  src: url('../fonts/grobold/grobold.ttf');
}


@font-face {
  font-family: 'fluo';
  src: url('../fonts/fluo_gums/fluo.ttf');
}

@font-face {
  font-family: 'jakarta'; 
  src: url('../fonts/jakarta_legal_aid_institute/jakarta.otf');
}

@font-face {
  font-family: 'ShePersisted'; 
  src: url('../fonts/kg_she_persisted/KGShePersisted.ttf');
}


@font-face {
  font-family: 'kraash'; 
  src: url('../fonts/kraash/KraashBlack.ttf');
}


$headline: 'kraash';
