
<main v-if="currentPattern" v-bind:class="{ cool: bg.show.body, uncool:!bg.show.body }" v-bind:style="styleObject">
  <article v-bind:class="{ cool: bg.show.inner, uncool:!bg.show.inner }" v-bind:style="styleObject">
    <div class="name-holder"><span class="label">Current Pattern</span>
      <div class="name" id="responsive_headline" v-bind:class="{ cool: bg.show.headline, uncool:!bg.show.headline }" v-text="currentPattern.title" v-bind:style="styleObject"></div>
    </div>
    <div class="inner"><span class="author-holder" v-if="currentPattern.author"><span>by </span><a :href="currentPattern.author.url"><span class="author" v-text="currentPattern.author.name"></span></a></span>
      <div class="tags" v-if="currentPattern.tags">
        <label>Tags:</label><span class="tag" v-for="tag in currentPattern.tags"><a href="#" v-text="tag"></a></span>
      </div>
      <pre><code v-html="coolCSS"></code></pre>
    </div>
    <div class="options">
      <label v-if="!bg.cover"><span>Size</span>
        <input type="range" min="5" :max="settings.maxSize" v-model="bg.size"/>
      </label>
      <label>
        <label>Horizontal</label>
        <input type="range" min="0" max="100" v-model="bg.positionHorizontal"/>
      </label>
      <label>
        <label>Vertical</label>
        <input type="range" min="0" max="100" v-model="bg.positionVertical"/>
      </label>
    </div>
    <div class="show-options">
      <div class="option-desc">Show pattern in...</div>
      <div class="labels">
        <label v-bind:class="{active: bg.show.body, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">background</span>
          <input type="checkbox" v-model="bg.show.body"/><span class="check">✔️</span>
        </label>
        <label v-bind:class="{active: bg.show.inner, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">foreground</span>
          <input type="checkbox" v-model="bg.show.inner"/><span class="check">✔️</span>
        </label>
        <label v-bind:class="{active: bg.show.headline, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">headline</span>
          <input type="checkbox" v-model="bg.show.headline"/><span class="check">✔️</span>
        </label>
        <label v-bind:class="{active: bg.show.button, cool: bg.show.button, uncool: !bg.show.button}" v-bind:style="styleObject"><span class="option-name">buttons</span>
          <input type="checkbox" v-model="bg.show.button"/><span class="check">✔️</span>
        </label>
      </div>
    </div>
  </article>
</main>