
<main class="form">
  <div class="lemon-coversheet"></div>
  <article v-bind:class="{ cool: bg.show.inner, uncool:!bg.show.inner, 'cool-borders': bg.show.borders }" v-bind:style="styleObject">
    <div class="name-holder"><span class="label">This Site By</span>
      <div class="lemon name">Lemon</div>
    </div>
    <p>
       Visit <a href="https://ahoylemon.xyz">ahoylemon.xyz</a> for more dumb websites like this one.</p>
    <p>
       The patterns for this website have been sourced from various places. Do you want to add a pattern to the site? Great! Please <a @click="gForm('https://forms.gle/8Dorg9pEQsUE4mmX6')">use this form</a> to do so. Or if you think we have made a mistake with our patterns, you can <a href="#">use this form</a>. Finally, if you're using one of these patterns, <a href="#">let us know.</a></p>
  </article>
</main>