
<head>
  <title>BG2 😎 COOL</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito|Oswald:700" rel="stylesheet"/>
  <link href="css/bg2cool.css" rel="stylesheet"/>
</head>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
<link rel="manifest" href="/site.webmanifest"/>
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
<meta name="msapplication-TileColor" content="#009bdf"/>
<meta name="theme-color" content="#009bdf"/>
<!-- Twitter-->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:creator" content="@AhoyLemon"/>
<meta name="twitter:title"/>
<meta name="twitter:description"/>
<meta name="twitter:image" content="undefined/og-wide.png"/>
<meta name="twitter:url"/>
<!-- OpenGraph-->
<meta property="og:title"/>
<meta property="og:type" content="website"/>
<meta property="og:url"/>
<meta property="og:image" content="undefined/og-wide.png"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:description"/>
<meta property="og:email" content="lemon@thefpl.us"/>