
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "",
    "url": "",
    "image": "/og-image.png",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "guessing game",
    "description": "",
    "inLanguage": "English",
    "author": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://ahoylemon.xyz",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "/img/screenshots/1.jpg",
        "width": "1200",
        "height": "650"
      },
      {
        "@type": "ImageObject",
        "url": "/img/screenshots/2.jpg",
        "width": "1200",
        "height": "650"
      },
      {
        "@type": "ImageObject",
        "url": "/img/screenshots/3.jpg",
        "width": "980",
        "height": "980"
      },
      {
        "@type": "ImageObject",
        "url": "/img/screenshots/ss4.jpg",
        "width": "980",
        "height": "980"
      }
    ]
  }
</script>