- var testing = true
- var siteTitle = "BG2 😎 COOL"
- var siteURL = "https://bg2.cool"
- var fPlusURL = ""
- var description = ""
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

include partials/_patterns
include partials/_mixins

doctype html
html(lang="en")
  head
    title BG2 😎 COOL
    link(href="https://fonts.googleapis.com/css?family=Nunito|Oswald:700" rel="stylesheet")
    link(href="css/bg2cool.css" rel="stylesheet")
    
  body
    #app(v-cloak)

      include partials/_nopattern.pug
      include partials/_current.pug
      include partials/_about.pug
      //-include partials/_form.pug

      section.patterns
        .pattern-holder
          each pattern,index in allPatterns
            //article.pattern()
            figure.pattern(v-bind:class="{current: activeTitle == '"+pattern.title+"'}" style="background-image:url(patterns/"+pattern.folder+"/"+pattern.file+")" v-on:click="setPattern("+JSON.stringify(pattern)+")")
              .name-holder
                h2.name= pattern.title

      //-.current-pattern(v-if="currentPattern && currentPattern != {}")
        .inner
          span.label Current Pattern
          .name(v-text="currentPattern.title")
          span.author-holder(v-if="currentPattern.author")
            span by 
            a(:href="currentPattern.author.url")
              span.author(v-text="currentPattern.author.name")
          .tags(v-if="currentPattern.tags")
            label Tags:
            span.tag(v-for="tag in currentPattern.tags")
              a(href="#" v-text="tag")
          
          .download-holder
            a.download(href="#") Download This


    include partials/_javascripts