- var testing = true
- var siteTitle = "BG2 😎 COOL"
- var siteURL = "https://bg2.cool"
- var fPlusURL = ""
- var description = "a library of cool seamless patterns for your radical website"
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

include partials/_patterns
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      include partials/_nopattern.pug
      include partials/_current.pug
      include partials/_about.pug
      include partials/_sidebar.pug

    include partials/_javascripts