- var testing = false
- var siteTitle = "futile 💀 fun"
- var siteURL = "https://futile.fun"
- var fPlusURL = "https://thefpl.us/also-made/futile-fun"
- var description = "A game that's just as depressing as the rest of your life, except this thing has achievements."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body

    #app
    
      main(v-cloak)

        .scene
          
          include partials/_scene.pug
        
          .pillar.one
            img(src="svg/pillar-1.svg")
          .pillar.two
            img(src="svg/pillar-2.svg")
          figcaption(v-if="message")
            .inner(v-text="message")
          

      include partials/_store.pug
      include partials/_inventory.pug
      include partials/_counter.pug

    include partials/_javascripts.pug
    include partials/_schema.pug