- var testing = false
- var siteTitle = "futile 💀 fun"
- var siteURL = "https://futile.fun"
- var fPlusURL = "https://thefpl.us/also-made/futile-fun"
- var description = "A game that's just as depressing as the rest of your life, except this thing has achievements."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    title BG2 😎 COOL
    link(href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet")
    style.
      * { font-family: 'Lobster', cursive; }
      html { background-image:url(img/bg/splash.jpg); background-size:cover; background-position:center; height:100vh; }
      @keyframes strobeText{
        0%{     color: transparent;    }
        20%{     color: #ff0000;    }
        40%{     color: #00ff00;    }
        60%{     color: #0000ff;    }
        80%{     color: #ffffff;    }
      }
      .strobe { animation:strobeText 1s infinite; }
      h1 { color:pink; text-shadow: -1px -1px 0 rgba(0,0,0,0.5), 4px 4px 0 rgba(0,0,0,0.5); position:absolute; right:0; bottom:2vh; left:0; text-align:center; font-size:6vw; }
  body
    h1.strobe website coming soon.