- var testing = true
- var siteTitle = "BG2 😎 COOL"
- var siteURL = "https://bg2.cool"
- var fPlusURL = ""
- var description = ""
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

include partials/_patterns
include partials/_mixins

doctype html
html(lang="en")
  head
    title BG2 😎 COOL
    link(href="https://fonts.googleapis.com/css?family=Barriecito|Flamenco|Gaegu|Permanent+Marker|Righteous&display=swap" rel="stylesheet")
    link(href="css/bg2cool.css" rel="stylesheet")
    
  body
    #app
      main(v-bind:style="{'background-image': 'url(patterns/ellen-schofield/'+bgPattern+')'}")
        section.patterns
          each pattern,index in allPatterns
            article.pattern(v-bind:class="{current: activeTitle == '"+pattern.title+"'}")
              figure(style="background-image:url(patterns/ellen-schofield/"+pattern.file+")")
                button(v-on:click="setPattern("+JSON.stringify(pattern)+")") TRY IT
              figcaption
                .everything-but-tags
                  h2.name= pattern.title
                  cite
                    | by 
                    a(href=pattern.author.url)= pattern.author.name
                  .description !{pattern.description}
                  .added
                    | Added on
                    +formatDate(pattern.date)
                .tags
                  each tag,i in pattern.tags
                    a(href="#")= tag

    include partials/_javascripts